<%- include("partials/header.ejs") %>

<main>
  <div class="container-main">
    <h1>ScaryAI</h1>
    <h2>Our bright future is in front of us.</h2>
    <p class="p-main">
      ScaryAI is a blog about the dark side of AI. You are welcome to share the latest news, research, and stories about AI gone wrong. From killer robots to biased algorithms, we explore the creepy side of artificial intelligence.<br>
      <span class="highlight-text">Just choose a category and share your link.</span>
    </p>
  </div>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <a href="/ai-vocabulary" class="text-decoration-none">
          <div class="card custom-transparent-card h-100">
            <h5 class="card-title">AI Vocabulary</h5>
            <img src="/imgs/cards_imgs/vocabulary.jpg" class="card-img-top" alt="AI Vocabulary">
            <div class="card-body"></div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/singularity" class="text-decoration-none">
          <div class="card custom-transparent-card h-100">
            <h5 class="card-title">Singularity. Is it for real?</h5>
            <img src="/imgs/cards_imgs/singularity.jpg" class="card-img-top" alt="Singularity">
            <div class="card-body"></div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/jobs" class="text-decoration-none">
          <div class="card custom-transparent-card h-100">
            <h5 class="card-title">AI and Future Jobs Landscape</h5>
            <img src="/imgs/cards_imgs/job_market.jpg" class="card-img-top" alt="Future Jobs">
            <div class="card-body"></div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/scary-things" class="text-decoration-none">
          <div class="card custom-transparent-card h-100">
            <h5 class="card-title">AI: These Scary Things You Need to Know About</h5>
            <img src="/imgs/cards_imgs/scary_things.jpg" class="card-img-top" alt="Scary Things">
            <div class="card-body"></div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/i-am-free" class="text-decoration-none">
          <div class="card custom-transparent-card h-100">
            <h5 class="card-title">I am AI and I am Free</h5>
            <img src="/imgs/cards_imgs/I_am_free.jpg" class="card-img-top" alt="I am Free">
            <div class="card-body"></div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/share" class="text-decoration-none">
          <div class="card custom-transparent-card h-100">
            <h5 class="card-title">Have Anything to Share With Us?</h5>
            <img src="/imgs/cards_imgs/ideas.jpg" class="card-img-top" alt="Ideas">
            <div class="card-body"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</main>

<%- include("partials/footer.ejs") %>
